#divHeader{
  display : flex;
  flex-flow : nowrap row;
  justify-content : center;
  align-items: center;
}

#divGithubLink{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:end;
  margin-left:20px;
}

#divCanvas{
  display: flex;
  flex-flow : nowrap row;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
}


#divColorpicker{
  display: flex;
  flex-flow:nowrap column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

#divColorpicker button{
  display: inline-block;
    padding: 1em 2em;
    border-radius: 0;
  color: black;
    margin-top:2rem;
    font-weight: bold;
    font-size: 0.678rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  background: linear-gradient(to right, rgba(grey, 0) 25%, rgba(grey, .8) 75%);
  background-position: 1% 50%;
  background-size: 400% 300%;
  border: 1px solid grey;
}

#divColorpicker button:hover{
  color: white;
      color: #fff;
      background-position: 99% 50%;
}

#divTextInput{
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
}
#divTextInput{
  margin-top:20px;
  font-weight: bold;
  font-size: 30px;
}

#divTextInput input{
  width:960px;
  margin-left:10px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:solid black;
  font-size: 20px;
  outline: none;
}